@model IEnumerable<WebMVC.Models.Post>

<h2>Posts</h2>

<a href="/Post/Create" class="btn btn-primary">Create New Post</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Author</td>
                <td>@post.CreatedDate.ToString("g")</td>
                <td>
                    <a href="/Post/Details/@post.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
