.top-right-corner {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.top-right-corner .btn {
    margin-left: 0.5rem;
}
.link-button {
    background: none;
    border: none;
    color: rgb(58, 58, 243);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}
