@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<WebMVC.Models.Post>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
<div id="greeting-text">
    <h4 class="med-text">Communicate in countless ways
    from one place.</h4>
    <p>Are you a student overwhelmed by textbooks and assignments? A
    professional trying to juggle multiple projects and deadlines? Or simply
    someone who loves learning new things and sharing their knowledge with
    others? [Website Name] is here to help! Our platform is designed to make
    your life easier by providing a centralized space for organizing, sharing,
    and collaborating on notes, images, and other materials.</p>
</div>

<div class="grid">
    @foreach (var post in Model)
    {
        <div class="col">
            <div>
                <img src="@post.ImageUrl" class="card" alt="@post.Author">
                <div>
                    <div class="flex-between-mt-2">
                        <h5 class="text-start">
                            @post.Author
                        </h5>
                        <h5 class=text-nowrap>
                            @post.Content
                        </h5>
                        <h5 class="comments">Satt av plass til kommentar her</h5>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

</body>
</html>


