@model IEnumerable<WebMVC.Models.Post>

<h2>MainPage</h2>
<!-- Skal lage posteviemodel, så jeg kan lage flere ienumerable og få unique ting-->
<a href="/Post/Create" class="btn btn-primary mb-3">Create New Post</a>
<div class="row">
    @foreach (var post in Model)
    {
        @if (!string.IsNullOrEmpty(post.Tag)){
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                        <p>@post.Tag</p>
                </div>
            </div>
        </div>
    }}
</div>