body {
    font-family: 'Montserrat', sans-serif;
}

/*Front page*/
.welcomebox {
    width: 550px;
    margin-left: 50px;
}
.welcometitle {
    width: 350px;
}
.welcomebox p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}
.tag-card{
    height: 74px;
    background-color:rgb(200, 211, 248)    ;
    width:auto;
}
.btn-card{
    color:rgb(56, 56, 56);
    background-color: #FF914D;
    font-weight: 700;
    font-size: 19px;
    height:100%;
    width: 100%;
    border:0px;
    padding:0px;
    line-height: 74px;     
    text-align: center;    
}
.btn-card:hover {
    color:rgb(219, 219, 219);
    background-color: #b46432;
}
.tag-button {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: inherit;
}
.post-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}
.tag-disp {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #007bff;
}

.card-subtitle {
    font-size: 14px;
    color: #888;
}

.card-text {
    font-size: 16px;
    color: #555;
}

.like-counter {
    font-weight: bold;
    color: #005246;
}
.like-btn {
    background-color: #005246;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-btn:hover {
    background-color: #038874;
}
.postComments {
    margin-top: 20px;
}

/*For post and admindash*/
.btn-primary {
    background-color: #FF914D;
    color: white;
    border: none;
}
.btn-primary:hover {
    background-color: #b46432;
}
.create-btn-create{
    margin-top: 20px;
}

.details-btn {
    background-color: #1c8cc0;
    color: white;
    border: none;
}
.details-btn:hover {
    background-color: #187aa7;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}
.btn-danger:hover {
    background-color: #b31d2c;
}
.edit-btn{
    background-color: #FF914D;
    color: white;
    border: none;
}
.edit-btn:hover{
    background-color: #b46432;
}
.last-form{
    margin-bottom: 20px;
}