body {
    font-family: 'Montserrat', sans-serif;
}

/*Front page*/
.welcomebox {
    width: 550px;
    margin-left: 50px;
}
.welcometitle {
    width: 350px;
}
.tag-card{
    height: 74px;
    background-color:rgb(200, 211, 248)    ;
    width:auto;
}
.btn-card{
    color:rgb(35, 31, 32);
    font-weight: 700;
    font-size: 19px;
    height:100%;
    width: 100%;
    border:0px;
    padding:0px;
    line-height: 74px;     
    text-align: center;    
}
a {
    text-decoration: none;
    color: inherit;
}
